html {
  font-size: 14px;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: Roboto;
  padding: 40px;
  margin: 0 auto;
  box-sizing: border-box;
}

.month{
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ccc;
}

.time{
  height: 100%;
}
.time ul, .time li {
    padding: 0 !important;
    margin: 0 auto !important;
}

.hours {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.hours span{
  height: 100%;
  width: 100%;


}

.month a {
  text-decoration: none;
}
.blockRoom{
  border: 1px solid #ccc;
}
.blockRoom .time {
  background-color: #ccc;
}

.blockRoom ul{
  text-align: center;
}

.time {
  display: flex;

}
.time ul {
  list-style: none;
}

.day{
  text-align: center;
}

.createMeetingButton{
  margin-bottom: 15px;
}
.createMeetingButton a{
  text-decoration: none;
  display: inline-block;
  border-radius: 50px;
  background-color: #269abc;
  color: #fff;
  padding: 17px 55px;
  margin-top: 15px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.createMeetingButton a:hover{
  background-color: #1b6d85;
}

.createMeeting {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #fff
}

.congratWindow {
  display: none;
  margin: 0 auto;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 40px;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: #f7f7f7;
}
