html {
  font-size: 14px;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: Roboto;
  padding: 40px;
  margin: 0 auto;
  box-sizing: border-box;
}

.month{
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ccc;

}
.blockRoom{
  border: 1px solid #ccc;
}
.blockRoom .time {
  background-color: #ccc;
}

.blockRoom ul{
  text-align: center;
}

.time {
  display: flex;
  
}
.time ul {
  list-style: none;
}

.day{  
  text-align: center;
}